@import'../../../assets/scss/settings.scss';
.Searchbar{
    width:90%;
    max-width: 500px;
   margin: 0 auto;
   margin: 1rem auto;
   border-radius: 5px;
   display: flex;
   align-items: center;
   input{
       width: 100%;
       padding: 1rem ;
        outline: none;
       font-family: FontAwesome;
       color: $grey03;
       border-radius: 5px;
       border:solid $grey03 1px;
       box-shadow: 0 0 10px $grey03;
   }
}