@import'../../assets/scss/settings.scss';
.NewContact {
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 768px;
    margin:0 auto;
    .return {
        border-bottom: 1px solid $grey04;
        padding: 0 1rem;
        a {
            color: $grey04;
            padding: 1rem 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            i {
                font-size: 1.5rem;
            }
        }
    }
    .outerInputWrapper {
        padding: 0 1rem;
        .inputWrapper {
            border-bottom: 1px solid $green03;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem 0;
            &:last-child{
                 border-bottom:none
            }
            label {
                color: $green03;
                padding-bottom: 1rem;
            }
            input {
                padding: 1rem;
                width: 100%;
                border-radius: 5px;
                border: solid 1px $grey03;
                outline: none;
                &::placeholder {
                    font-weight: bold;
                    color: $grey02;
                }
            }
              .error {
                  border-color: $red01;
              
              }
              .errorMsg{
                  color: $red01;
                  padding: 10px 0;
                 
              }
              }
            ul {
                list-style: none;
                width: 100%;
                li {
                    width: 100%;
                    input {
                        margin-bottom: 10px;

                       
                    }
                    .deleteNumberWrapper {
                        display: flex;
                        box-sizing: border-box;
                        align-items: center;
                        justify-content: space-between;
                        button {
                            border: 1px solid $red01;
                            width: 40px;
                            height: 40px;
                            background-color: transparent;
                            color: $red01;
                            border-radius: 50%;
                            margin-left: 1rem;
                            padding: 0px 1rem;
                            outline: none;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .addNumInput {
                color: $green03;
                button {
                    border: 1px solid $green03;
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    color: $green03;
                    border-radius: 50%;
                  
                    outline: none;
                    margin-right: 10px;
                }
            }
        }
    }

