@import'../../assets/scss/settings.scss';
footer{
    background-color: $grey04;
      padding: 0.5rem 0;
 
     
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    color: $green03;

}